.DS_Store
*.*~
*.a
*.dll
*.dylib
*.exe
*.ilk
*.lib
*.opensdf
*.pdb
*.pdb
*.sdf
*.so
*.suo
*.swo
*.swp
*.user
*.userprefs
*.zip
base-test
bin/
build/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
docs/
include/
ipch/
libs/
obj/
release/
Thumbs.db
upload/
xcuserdata/
